/* Webfont: Gotham-MediumItalic */@font-face {
    font-family: 'GothamMedium';
    src: url('Gotham-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Gotham-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('Gotham-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Gotham-MediumItalic.svg#Gotham-MediumItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

