/* Webfont: Gotham-BookItalic */@font-face {
    font-family: 'GothamBook';
    src: url('Gotham-BookItalic.eot'); /* IE9 Compat Modes */
    src: url('Gotham-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Gotham-BookItalic.woff') format('woff'), /* Modern Browsers */
         url('Gotham-BookItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Gotham-BookItalic.svg#Gotham-BookItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

